<nav class="flex justify-between">
    <p class="hidden text-green-400 text-orange-400 text-stone-400 text-red-400 text-blue-400"></p>
    <%= link "BidTacToe", to: Routes.game_home_path(@socket, :index), class: "font-bold sm:text-4xl text-xl" %>

    <%= unless @game do %>
    <%# Share game link %>
    <%= if is_nil(@game) do %>
    <div class="text-center inline-block">
        <button id="share" phx-hook="Share"
            class="bg-green-500 hover:bg-green-600 text-center text-white py-2 px-4 rounded-lg sm:text-base text-xs">
            <p class="font-sans font-semibold"><%= @url %></p>

        </button>
        <p class="text-lg text-gray-800 font-draw pt-5 animate-bounce ">
            share this link <%= raw(curvy_up_arrow()) %>
        </p>
    </div>
    <% end %>
    <% else %>
    <%= if @game.winning_squares == [] do %>
    <button data-confirm="Are you sure you want to restart?"
        class="group hover:bg-yellow-400 font-base px-4 py-2 text-2xl text-gray-800 rounded-lg tracking-wider"
        phx-click="restart">restart <%= raw(spinny_thing()) %>
    </button>
    <% end %>
    <% end %>
</nav>

<div class="text-center">

    <%# Lobby %>
    <%= if is_nil(@game) do %>
    <div>
        <%# Enter a username %>
        <%= if is_nil(@username) do %>
        <div class="mt-4 p-4 rounded text-center">
            <h5 class="block uppercase tracking-wide text-lg font-bold mb-2 text-yellow-500">
                who are you?
            </h5>

            <form id="set-username" phx-hook="SetUsername" phx-submit="save">
                <input class=" lowercase font-bold text-2xl bg-transparent border-solid border-2 focus:ring-yellow-500 focus:border-yellow-500 rounded py-3 px-4 mb-3
                leading-tight" type="text" name="username" id="username" placeholder="your username" autocomplete="off"
                    required autofill="off" autofocus maxlength="20" />
                <button type="submit"
                    class="inline-block text-xl bg-yellow-400 hover:bg-yellow-500 group ml-2 tracking-wide text-gray-800 font-bold px-4 py-4 rounded ">
                    that is I
                </button>
            </form>
        </div>
        <% end %>

        <%# Players  %>
        <div class="rounded-lg mt-4 px-6 py-8 bg-blue- mx-auto max-w-sm sm:max-w-full  phx-hook-subscribe-to-session">
            <h5 class="block uppercase tracking-wide text-lg font-bold mb-2 text-yellow-500">
                players
            </h5>
            <div class="mt-6 grid grid-flow-col">
                <%= for {username, i} <- get_named_connected_users(@connected_users) |> Enum.with_index()  do %>
                <div class={"#{get_player_color_before_init(i)}"}>
                    <%= if username == @username do %>
                    <p class="-translate-x-6">you
                        <%= curvy_arrow(@socket) %>
                    </p>
                    <% else %>
                    &nbsp
                    <% end %>
                    <p class="text-8xl font-extrabold"><%= Enum.at(flags(), i) %></p>
                    <p class="font-extrabold"><%=username%></p>
                    <%= unless is_nil(@room.scores[username]) do %>
                    <p class="pt-4">
                        <%= Enum.map(1.. @room.scores[username], fn _i -> "🏆" end) %>
                    </p>
                    <% end %>

                </div>
                <% end %>
            </div>
            <%# Play Button  %>
            <div class="mt-16">
                <%= if length(get_named_connected_users(@connected_users)) > 5 do %>
                <div class="text-amber-600 inline-block px-4 py-2">
                    Max 5 players allowed! For now...
                </div>
                <% end %>

                <%= if length(get_named_connected_users(@connected_users)) >= 2 and length(get_named_connected_users(@connected_users)) <= 5  do %>
                <button
                    class="group px-6 py-4 bg-yellow-400 hover:italic font-extrabold rounded-lg text-white hover:bg-green-500 hover:text-white"
                    phx-click="start">
                    <div
                        class="inline-flex underline-offset-[10px] underline decoration-wavy group-hover:no-underline group-hover:bg-[url('https://snippets.alexandru.so/squiggle.svg')]">
                        Start Game</div>
                    <%= right_arrow() %>
                </button>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>

    <.live_component module={ToeWeb.GameLive.ArenaComponent} id="game_arena" slug={@slug} username={@username}
        game={@game} room={@room} bid_outcome={@bid_outcome} parent_flash={@flash} lesson={false} />



</div>
