<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Bid Tac Toe" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>


    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>❌</text></svg>">

    <meta property="og:title" content={assigns[:page_title]} />
    <meta property="og:type" content="image" />
    <meta property="og:url" content="https://bidtactoe.com" />
    <meta property="og:description" content="Tic Tac Toe with a twist." />
    <meta property="og:image" content="https://shlinked.s3.amazonaws.com/Screen+Shot+2022-04-05+at+1.35.28+PM.png" />

    <%# confetti  %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400&family=Itim&display=swap"
        rel="stylesheet">

</head>

<body class="bg-yellow-50 text-yellow-500 font-draw text-2xl sm:text-4xl">
    <div class="max-w-5xl mx-auto px-8 py-6">
        <%= @inner_content %>
    </div>
</body>

</html>
