<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Bid Tac Toe" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body class="bg-gray-800 text-blue-100">
    <%= link "Home", to: Routes.game_home_path(@conn, :index) %>
    <%= if not is_nil(Plug.Conn.get_session(@conn, :username)) do %>
    <%= link "Change username", to: Routes.game_makeover_path(@conn, :makeover) %>
    <% end %>
    <%= @inner_content %>
</body>

</html>
